{% extends 'base.html.twig' %}

{% block title %}{{brand.name}}{% endblock %}

{% block header %}{{brand.name}} products{% endblock %}

{% block main %}
    {% if brand_products|length >= 1 %}
        <div class="d-flex flex-wrap">
            {% for product in brand_products %}
                {{ include('includes/productThumb.html.twig') }}
            {% endfor %}
        </div>
    {% else %}
    <span> No brands available </span>
    {% endif %}
{% endblock %}