{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block header %}Edit Category {{ edit_cat.name }}{% endblock %}

{% block main %}
    {% if message is defined %}
        {{message}}
    {% endif %}
    <form action="{{path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))}}" method='POST'>
        <label for="name">Name*</label>
        <input type="text" name="name" value="{{ edit_cat.name }}" required="required"/>

        <button type="submit">Edit Category</button>
    </form>
{% endblock %}