{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block header %}{{ category.name }}{% endblock %}

{% block main %}
    {% if category_products|length >= 1 %}
        <div class="d-flex flex-wrap">
            {% for product in category_products %}
                {{ include('includes/productThumb.html.twig') }}
            {% endfor %}
        </div>
    {% else %}
        No products in category "{{ category.name }}" available.
    {% endif %}
{% endblock %}

