<form action="{{ path('login_check') }}" method="post">
    <label class="dropdown-item text-light" for="email">Email</label>
    <input class="login" type="email" id="username" name="_username" />

    <label class="dropdown-item text-light" for="password">Password</label>
    <input class="login" type="password" id="password" name="_password" />

    <input class="dropdown-item text-light" type="submit" value="Login"/>
</form>