/*GENERALES*/

*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif, Helvetica, Arial;
}

body{
    background-color:rgba(0, 162, 255, 0.568)!important;
}

a{
    text-decoration: none!important;
}


td a:hover{
    color: #555555!important;
}

.alert_green{
    color:green;
}

.alert_red{
    color:red;
}

table{
    text-align: center;
    width: 100%;
    margin:auto;
}

tr{
    line-height: 25px;
}

.rowTotal{
    border-top: 1px solid #ccc;
}

.rowTotal td{
    padding-top: 10px;
    font-weight: 900;
}

td{
    line-height: 25px;
}

th{
    text-align:center;
}

td, th{
    border-top: 1px solid #ccc;
    padding: 2px 15px;
    width:fit-content;
    max-height:200px;
    overflow:hidden;
}

.productName{
    height:60px;
}

.align-right{
    text-align:right!important;
    white-space: nowrap;
}

.actions{
    color:#555!important;
    padding:2px 6px!important;
    margin:2px!important;
}


.float-right{
    float:right;
}

.thumb{
    width: 100px;
}

/*CONTAINER*/
#container{
    position:relative;
   width: 90%;
   margin: 0px auto;
   box-shadow: 0px 0px 10px gray;
   background: white;
   min-height: 100vh;
}

/*HEADER*/

#header{
    height: 80px;
    background: #F0F0F0;
}

/*MENU*/
#menu{
    clear:both;
    background: rgb(148, 91, 6);
    color: white;
    height: 55px;
    border-bottom: 4px solid black;
}

#menu ul{
    list-style: none;
    text-decoration: none;
}

#menu ul li{
    line-height: 51px;
    float:left;
}

.row{
    width:100%!important;
}

.dropdown-item:hover, .nav-item:hover{
    background-color: #11608E!important;
}

.login-label{
    padding-left:5px;
}

#menu a{
    display: block;
    color: white!important;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: all 300ms;
}

#menu a:hover{
    background: #6d3602;
}

nav{
    border-bottom: 4px solid #222222;
}

#search_searchBar, #search_Search{
    box-shadow: inset 0 0 7px 0px!important;
    border-radius: 0.6rem!important;
}

/*CONTENT*/
#content{
    margin: 0px auto;
    padding-bottom: 50px;
    overflow: hidden;
    background:ghostwhite;
    min-height: calc(100vh - 90px);
}

/*FORMS*/
.form_container{
    width: 50%;
}
input[type="file"]{
    margin-top: 10px;
}

label{
    display:inline;
}

form button{
    display: inline-block !important;
}

form button a{
    color:white !important;
}

label, 
input[type="button"],
input[type="submit"],
button{
    display:block;
    margin-top: 10px;
}

/*CENTRAL*/
#central{
    width: 100%;
    min-height: 500px;
    padding:20px;
    padding-top: 0px;
}

#central h1{
    font-size: 24px;
    font-weight: bolder;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}

.message{
    color:#00AA33;
    text-align: center;
    margin:10px auto;
}

/*PRODUCTS*/
.product{
    width: 220px;
    height:320px;
    float:left;
    margin:20px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px #777;
    position:relative;
    background-color: white;
}

.productFrame{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:10px;
    padding: 10px;
    overflow: hidden;
}


.productDetails{
    position:relative;
    height:100%;
    width:100%;
}

.imageFrame{
    height:120px;
    width: 100%;
    padding:5px;
    margin:auto;
    margin-bottom:10px;
}

.offer{
    font-size: 12px;
}

.offerPerc{
    color:rgb(212, 55, 55);
    margin-right:5px;
}

.showProduct{
    color:white!important;
    width: fit-content;
}

.offer.original-price{
    text-decoration: line-through;
    text-decoration-color: rgb(212, 55, 55);
}

.offer-final-price{
    color:#00AA33!important;
    font-weight: bolder;
    margin-right: 10px;
}

.showCategory, .showBrand{
    color: black;
    text-decoration: none;
}

.modelName{
    text-align: center;
    height:45px;
    overflow: hidden;
    font-size: 14px;
}

.model{
    text-decoration: none!important;
}

.addToBasket{
    box-shadow: inset 0 0 7px 0px!important;
    border-radius: 0.6rem!important;
    width: fit-content;
    padding:5px 10px!important;
    font-size: 15px!important;
}


.inThumb{
    position:absolute;
    bottom:0px;
    left: 50%;
    transform: translateX(-50%);
}

.product img{
    height:100%;
    width:100%;
    object-fit: contain;
}

.img_basket{
    height: 60px;
    display: block;
    margin:10px auto;
}

.img_prod_manag{
    height: 60px;
    display: block;
    margin:10px auto;
}

.product h2{
    font-size: 15px;
    margin-bottom: 10px;
}

.product p{
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

#detail-product{
    
    width: 100%;
}

.images_container{
    width: 40%;
    float:left;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right:50px;
}

#detail-product .image{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image.main{
    padding:10px;
    height:250px;
    width:100%;
    box-shadow: 0 0 10px;
    overflow: hidden;
    border-radius: 10px;
}

.image.small{
    width:60px;
    padding:0px;
    height:60px;
    margin: 1px 5px;
    overflow: hidden;
    box-shadow: 0 0 10px;
    border-radius: 3px;
}

#detail-product img, .image.small a{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#detail-product .list{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    margin-top: 15px;
}

#detail-product .data{
    margin-left:50px;
}

#detail-product .field{
    font-weight: bolder;
}

#detail-product .offer{
    font-size:17px!important;
}

#detail-product .price{
    font-weight: bolder;
    margin-bottom: 10px;
}

#detail-product .price>span{
    font-size: 20px;
}

#detail-product .noOffer{
    color: rgb(189, 45, 45);
}

#detail-product .stock{
    font-weight: bolder;
}

.notAvailable, .onlyFew{
    color:red;
}

#detail-product .inStock{
    color:green;
}

/* MANAGE PRODUCT*/

.btn-outline-danger:hover{
    color: white!important;
}

.image_thumb{
    position:relative;
    display:inline-block;
    height:60px !important;
    border:1px solid black;
}

.image_thumb img{
    height:100%;
}

#image_options{
    display:none;
    position:absolute;
    top:0;
    opacity:0.7;
    background-color: #fff;
    width:100%;
    height:100%;
    z-index:1;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:12px;
}

#image_options a{
    display: inline-block;
    color:black;
    opacity: 1 !important;
    z-index: 2;
}

#image_options #remove:hover{
    color:red;
}

#image_options #set_default:hover{
    color:green;
}

#image_options #see:hover{
    color:blue;
}

.image_thumb:hover #image_options{
    display:flex;
}

.default_image{
    border: 5px solid green;
}



/*BASKET*/
.delete-basket{
   width: 295px;
   float: left; 
}

.button-basket{
    display: block;
    float: left;
    width: 100px;
}

.button-basket{
    width: 70px;
    margin: 0px auto;
    text-align: center;
}

.total-basket{
   width: 295px;
   float: right; 
}

.total-basket h3{
    display: block;
    float:left;
    margin-top: 5px;
}

.button-orders{
    display: block;
    float: right;
    width: auto;
    margin-top: 20px;
    background-color: #00AA33;
    color:white !important;
    padding:10px;
}

.updown-units{
    width: 100px;
    margin: 0px auto;
}

.updown-units a{
    display:inline;
    padding:3px 8px;
    margin: 0px;
    color: white!important;
    text-decoration: none;
    border-radius: 5px;
    width: fit-content;
    background: #2979CD;
    border: 1px solid #11608E;
    cursor:pointer;
    font-weight:900;
}

.updown-units a:visited{
    color: white!important;
}
.updown-units a:hover{
    color: black!important;
}

/* ORDER */ 
.accordion button{
    color:black!important;
}

.ordered{
    border: 2px solid #666;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px auto;
    color: #666;
    width:80%;
}

.ord-header{
    background-color: #ddd;
    border-bottom: 1px solid #999;
    padding: 5px 10px;
}

.ord-header span{
    color: #333;
    font-weight: bold;
}

a .status{
    color:blue!important;
}

.dropdown{
    position:relative;
}

.dropdown-content{
    display:none;
    position:absolute;
    top:53px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #333;
    padding:15px;
    border-radius: 5px;
    z-index:1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.ord-body{
    /* background-color: #eee; */
    background-color: white;
    padding: 10px 10px;
}

.ord-row{
    margin: 15px 0px;
    display:flex;
}

.ord-qty{
    padding-right: 10px;
    padding-top:40px;
}

.ord-img{
    display:inline-block;
    width:100px;
    height:100px;
    margin-right: 10px; 
    flex: 0 0 100px;
} 

.ord-img img{
    height:100%;
    width:100%;
    object-fit: contain;
}

.ord-product{
    display:inline;
    flex: 0 1 auto;
    margin:10px;
}

.ord-product a{
    display:inline-block;
}

.ordered a{
    text-decoration: none!important;
}

.buy-again{
    margin-top: 5px!important;
    padding:5px!important;
}

/*FOOTER*/
#footer{
    clear: both;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    color: white;
    background: #222222;
    border-top: 4px solid #0d6efd;
    position:absolute;
    bottom: 0;
    display:block;
    width: 100%;
    height:50px;
}