/*GENERALES*/

*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif, Helvetica, Arial;
}

body{
    background: url(../imgs/global/bg.png);
}

td a{
    color: #01B1EA!important;
    text-decoration: none!important;
}

td a:visited{
    color: #01B1EA!important;
}

td a:hover{
    color: #555555!important;
}

.alert_green{
    color:green;
}

.alert_red{
    color:red;
}

table{
    text-align: center;
    width: 100%;
    margin:auto;
    border-bottom: 1px solid #ccc;
}

tr{
    line-height: 50px;
}

th{
    text-align:center;
}

td{
    border-top: 1px solid #ccc;
    padding: 2px 15px;
    width:fit-content;
}

td.align-right{
    text-align:right;
}

td.actions a{
    color:#555!important;
}
td.actions a:hover{
    color:#111!important;
}

.float-right{
    float:right;
}

.thumb{
    width: 100px;
}

/*CONTAINER*/
#container{
   width: 90%;
   margin: 0px auto;
   box-shadow: 0px 0px 10px gray;
   background: white;
}

/*HEADER*/

#header{
    height: 80px;
    background: #F0F0F0;
}

#logo{
    padding: 0px;
    margin-left: 20px;
    float:left;
    height:100%;
}

#logo img{
    float:left;
    height: 60px;
    background-color: transparent;
    border:3px solid #444;
    margin-top:5px;
}

#logo a{
    float:left;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: 'Open Sans', Helvetica, Arial;
    text-transform: uppercase;
    color: #01B1EA;
    font-weight: bold;
    text-decoration: none;
    margin-top: 18px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #222222;
    transition: all 300ms;
}

#logo a:hover{
    text-shadow: 0px 2px 1px #222222, 0px 0px 4px #01B1EA;
}

/*MENU*/
#menu{
    clear:both;
    background: #222;
    color: white;
    height: 55px;
    border-bottom: 4px solid #01B1EA;
}

#menu ul{
    list-style: none;
    text-decoration: none;
}

#menu ul li{
    line-height: 51px;
    float:left;
    border-right: 1px solid #363636;
}

.row{
    width:100%!important;
}

.dropdown-menu{
    background: #222!important;
    line-height: 30px!important;
    padding:1px!important;
    color:white!important;
    width:200px;
}

.dropdown-menu .show{
    right:0px!important;
}

.dropdown-menu li{
    border-right:unset!important;
    width:100%;
}

#menu a{
    display: block;
    color: white!important;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: all 300ms;
}

#menu a:first-child{
   border-left: 1px solid #363636; 
}

#menu a:hover{
    background: #01B1EA;
}

/*CONTENT*/
#content{
    margin: 0px auto;
    overflow: hidden;
    background: white;
}

/*SIDE BAR*/
#lateral{
    width: 20%;
    min-height: 500px;
    float: left;
    margin-top:20px;
    margin-left: 10px;
}

#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
}

#lateral h3{
    display: block;
    color: #222;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: #E1E1E1;
    border-bottom: 2px solid #01B1EA;
}

#lateral ul{
    margin-top: 20px;
    margin-bottom: 20px;
}

#lateral ul li{
    list-style: square;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*FORMS*/
.form_container{
    width: 50%;
}
input[type="file"]{
    margin-top: 10px;
}

label{
    display:inline;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select, textarea{
    display:block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select, textarea{
    border: 1px solid #C9C9C9;
    box-shadow: 0px 0px 2px #ccc inset;
    background: white;
    padding: 2px;
    color: gray;
    transition: all 300ms;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{
    border: 1px solid #1579b5;
    color: black;
}

.button-small{
    width: 120px;
    text-align: center;
    margin-bottom: 20px;
}

.button-gestion{
    margin-top: 5px;
    margin-bottom: 5px;
}

.button-red{
    background: red;
    border: 1px solid #cf1717;
}

.buttons{
    width: auto;
}

form button{
    display: inline-block !important;
}

form button a{
    color:white !important;
}

.btn-create{
    text-decoration: none !important;
    border: 1px solid green;
    padding: 5px;
    color: white !important;
    background: #00AA33;
    display: inline-block;
    margin:auto;
}

.buttons .btn-edit{
    background: orange;
    border-color: #f38b06;
}

.buttons .btn-delete{
    background: red;
    border-color: #b90808;
}

label, 
input[type="button"],
input[type="submit"],
button{
    display:block;
    margin-top: 10px;
}

/*CENTRAL*/
#central{
    width: 100%;
    min-height: 500px;
    /* float: right; */
    border-left: 1px solid #ccc;
    box-shadow: -5px -1px 5px #ddd;
    padding:25px;
}

#central h1{
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0px;
}

.message{
    color:#00AA33;
    text-align: center;
    margin:10px auto;
}

/*PRODUCTS*/
.product{
    width: 200px;
    height:280px;
    float:left;
    margin:20px;
    text-align: center;
    /* border:1px solid black; */
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px #777;
}

.productDetails{
    position:relative;
    height:100%;
    width:100%;
}

.productDetails div{
    height:100px;
    width: 80%;
    padding:5px;
    border:1px solid black;
    margin:auto;
    margin-bottom:10px;
}

.productDetails .offer{
    color:rgb(212, 55, 55);
}

.productDetails a{
    color:white!important;
    width: fit-content;
}

.productDetails .offer-original-price{
    text-decoration: line-through;
    text-decoration-color: rgb(212, 55, 55);
}

.productDetails .offer-final-price{
    color:#00AA33;
    font-weight: bolder;
}

.product a{
    color: black;
    text-decoration: none;
}

.product a:last-child{
    position:absolute;
    bottom:0px;
    left: 50%;
    transform: translateX(-50%);
}

.product a:hover{
    color:#555;
}

.product img{
    height:100%;
    width:100%;
    object-fit: contain;
}

.img_basket{
    height: 60px;
    display: block;
    margin:10px auto;
}

.img_prod_manag{
    height: 60px;
    display: block;
    margin:10px auto;
}

.product h2{
    font-size: 18px;
    margin-bottom: 10px;
}

.product p{
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

#detail-product{
    
    width: 100%;
}

.images_container{
    width: 40%;
    float:left;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#detail-product .image{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    /* padding:10px;
    height:250px;
    width:100%; */
}

.image.main{
    padding:10px;
    height:250px;
    width:100%;
}

.image.small{
    width:calc(28%);
    padding:0px;
    border:1px solid black;
    height:60px;
    margin: 1px 3px;
    overflow: hidden;
    /* line-height:60px; */
}

#detail-product img, .image.small a{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#detail-product .list{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    margin-top: 5px;
}
#detail-product .arrows{
    width:calc(5%) !important;
}

#detail-product .data{
    float:left;
    margin-left:50px;
}

#detail-product .description{
    margin-bottom: 20px;
}

#detail-product .price{
    margin-bottom: 10px;
    font-size: 20px;
    color: #444;
}

#detail-product .data .alert{
    padding: 0.25rem;
}

/* CREATE-EDIT PRODUCT*/

.image_thumb{
    position:relative;
    display:inline-block;
    height:60px !important;
    border:1px solid black;
}

.image_thumb img{
    height:100%;
}

#image_options{
    display:none;
    position:absolute;
    top:0;
    opacity:0.7;
    background-color: #fff;
    width:100%;
    height:100%;
    z-index:1;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:12px;
}

#image_options a{
    display: inline-block;
    color:black;
    opacity: 1 !important;
    z-index: 2;
}

#image_options #remove:hover{
    color:red;
}

#image_options #set_default:hover{
    color:green;
}

#image_options #see:hover{
    color:blue;
}

.image_thumb:hover #image_options{
    display:flex;
}

.default_image{
    border: 5px solid green;
}



/*BASKET*/
.delete-basket{
   width: 295px;
   float: left; 
}

.button-basket{
    display: block;
    float: left;
    width: 100px;
}

.button-basket{
    width: 70px;
    margin: 0px auto;
    text-align: center;
}

.total-basket{
   width: 295px;
   float: right; 
}

.total-basket h3{
    display: block;
    float:left;
    margin-top: 5px;
}

.button-orders{
    display: block;
    float: right;
    width: auto;
    margin-top: 20px;
    background-color: #00AA33;
    color:white !important;
    padding:10px;
}

.updown-units{
    width: 100px;
    margin: 0px auto;
}

.updown-units a{
    display:inline;
    padding:3px 8px;
    margin: 2px;
    color: white!important;
    text-decoration: none;
    /* display: block; */
    border-radius: 5px;
    width: fit-content;
    /* padding: 5px;
    padding-left: 10px;
    padding-right: 10px; */
    /* color: white!important; */
    background: #2979CD;
    border: 1px solid #11608E;
    cursor:pointer;
}

.updown-units a:visited{
    color: white!important;
}
.updown-units a:hover{
    color: black!important;
}

/* ORDER */ 
.accordion button{
    color:black!important;
}

.ordered{
    border: 2px solid #666;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px auto;
    color: #666;
    width:80%;
}

.ord-header{
    background-color: #ddd;
    border-bottom: 1px solid #999;
    padding: 5px 10px;
}

.ord-header span{
    color: #333;
    font-weight: bold;
}

.dropdown{
    position:relative;
}

.dropdown-content{
    display:none;
    position:absolute;
    top:53px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #333;
    padding:15px;
    border-radius: 5px;
    z-index:1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.ord-body{
    /* background-color: #eee; */
    background-color: white;
    padding: 10px 10px;
}

.ord-row{
    margin: 15px 0px;
    display:flex;
}

.ord-qty{
    padding-right: 10px;
    padding-top:40px;
}

.ord-img{
    display:inline-block;
    width:100px;
    height:100px;
    margin-right: 10px; 
    flex: 0 0 100px;
} 

.ord-img img{
    height:100%;
    width:100%;
    object-fit: contain;
}

.ord-product{
    display:inline;
    flex: 0 1 auto;
    margin:10px;
}

.ord-product a{
    display:inline-block;
}

.ordered a{
    text-decoration: none!important;
}

.buy-again{
    margin-top: 5px!important;
    padding:5px!important;
}

/*FOOTER*/
#footer{
    clear: both;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    color: white;
    background: #222222;
    border-top: 4px solid #01B1EA;
}