{% extends 'base.html.twig' %}

{% block title %}Make Order{% endblock %}

{% block header %}Make Order{% endblock %}

{% block main %}
    {% if basket is defined %}
    {{dump(basket)}}
    <div class="data">

        <p>Name: {{ basket.userid.name }}</p>
        <p>Surname: {{ basket.userid.surname }}</p>

    </div>
   

    {% endif %}
{% endblock %}
