{% extends 'base.html.twig' %}

{% block title %}
    {% if edit is not null and app.user != null %}
        Edit User details
        {% else %}
        Register User
    {% endif %}
{% endblock %}

{% block header %}
    {% if edit is not null and app.user != null %}
        Edit User details
        {% else %}
        Register User
    {% endif %}
{% endblock %}

{% block main %}
    <div>
        {% if registered %}
            {% if edit is not null and app.user != null %}
                <strong class="alert_green">Changes applied successfully!</strong>
            {% else %}
                <strong class="alert_green">User registered successfully!</strong>
            {% endif %}
        {% endif %}
        {{form_start(form)}}
        {{form_widget(form)}}
        {{form_end(form)}}
    </div>
{% endblock %}
